.App {
	text-align: center;
	height: 100vh;
	width: 100vw;
}
.essay-header {
	width: 100vw;
	height: 60px;
	background-color: #009FF9;
	padding-left: 20px;
	padding-right: 20px;
	text-align: left;
	color: white;
	font-size: 25px;
	font-weight: bold;
	justify-content: center;
	align-items: center;
	display: flex;
	/* z-index: 1;
	position: absolute; */
}
.title {
	flex: auto;
}

.text-box {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}

.text-box > * {
	flex: auto;
}
.text-input-output {
	display: flex;
	align-items: center;
	justify-content: center;
}
.text-input-output > form > textarea {
	font-size: 30px;
	font-family: 'Open Sans';
	outline: none;
	border: 2px solid rgb(143, 143, 143);
	border-radius: 20px;
	height: 30vh;
	width: 30vw;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
		rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
	padding: 20px;
	transition: 0.5s ease-in-out;
}

.text-input-output > form > textarea:hover,  .text-input-output > form > textarea:focus{
	border: 2px solid rgb(74, 74, 74);
	transition: 0.5s ease-in-out;
}

.text-input-output > button {
	margin: 25px;
	border-radius: 10px;
	outline: none;
	border: none;
	transition: 0.2s ease-in-out;
	border: 2px solid white;
	background-color: white;

}

.text-input-output > button:hover {
	border: 2px solid black;
	transition: 0.2s ease-in-out;
}

.arrow {
	width: 2vw;
	margin: 10px;
}
